# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=qrpass-4f170.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=qrpass-4f170
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=qrpass-4f170.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=885772853221
NEXT_PUBLIC_FIREBASE_APP_ID=1:885772853221:web:4106b282bd51068180190c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4NDXYKV3F6

# PartyKit Configuration
# Local: localhost:1999
# Production: your-project.your-username.partykit.dev
NEXT_PUBLIC_PARTYKIT_HOST=localhost:1999
